<!DOCTYPE html>
<html class="no-js" lang="en" xml:lang="en" version="HTML+RDFa 1.1" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Javanto" />
		<meta name="apple-touch-fullscreen" content="YES" />
		<meta name="apple-mobile-web-app-capable" content="YES" />
		<meta name="HandheldFriendly" content="True">
		<meta name="format-detection" content="telephone=no">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
		<!-- For iPhone 4 with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
		<!-- For first-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
		<!-- For nokia devices: -->
		<link rel="shortcut icon" href="img/l/apple-touch-icon.png">

		<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
		<meta http-equiv="cleartype" content="on">

		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://javanto.com{{ page.url }}" />
		<meta property="og:image" content="http://javanto.com/img/logo-128.png" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="Javanto" />
		<meta property="og:description" content="{{ page.description }}" />
		<meta property="fb:admins" content="713421374" />

		<title>{% if page.url != '/index.html' %}{{ page.title }} - {% endif %}Javanto</title>

		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Special+Elite|Maven+Pro|Patua+One" rel="stylesheet" type="text/css" />
		<link href="/css/syntax.css" rel="stylesheet" type="text/css" />
		{% if page.url == '/blog/index.html' or page.id %}
		<link href="http://feeds.feedburner.com/javanto" rel="alternate" title="Javanto Blog" type="application/atom+xml" />
		{% endif %}
		<script type="text/javascript" src="/js/modernizr-2.0.6.min.js"></script>
	</head>
	<body style="display: none;">
		<div class="wrapper">
			<nav{% if page.url == '/index.html' %} class="index"{% endif %}>
				<ul>
					<li><a href="/" class="home{% if page.url == '/index.html' %} selected{% endif %}"></a></li>
					<li><a href="/blog" class="blog{% if page.url == '/blog/index.html' or page.id %} selected{% endif %}"></a></li>
					<li><a href="/projects" class="projects{% if page.url == '/projects/index.html' %} selected{% endif %}"></a></li>
					<li><a href="/other" class="other{% if page.url == '/other/index.html' %} selected{% endif %}"></a></li>
				</ul>
			</nav>
		</div>
{% assign author = site.authors[page.author] %}
{{ content }}

<!--[if (gte IE 7)&(lte IE 8)]>
		<script type="text/javascript" src="/js/selectivizr-1.0.2.min.js"></script>
<![endif]-->
<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
		<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
		<script type="text/javascript">
			var _gaq=[["_setAccount","UA-16108207-1"],["_trackPageview"]];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
			g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
			s.parentNode.insertBefore(g,s)}(document,"script"));
		</script>
		<script type="text/javascript">
			function test_jQuery() { jQuery(""); }
			  
			var successfully_loaded = false;
			function loadOrFallback(scripts,idx) {
				function testAndFallback() {
					clearTimeout(fallback_timeout);
					if (successfully_loaded) return; // already loaded successfully, so just bail
					try {
						scripts[idx].test();
						successfully_loaded = true; // won't execute if the previous "test" fails
						scripts[idx].success();
					} catch(err) {
						if (idx < scripts.length-1) loadOrFallback(scripts,idx+1);
					}
				}

				if (idx == null) idx = 0;
				$LAB.script(scripts[idx].src).wait(testAndFallback);
				var fallback_timeout = setTimeout(testAndFallback,10*1000); // only wait 10 seconds
			}
		</script>
		<script type="text/javascript">
			Modernizr.load([
				{
					test: Modernizr.mq("(min-width:0)"),
					nope: "/js/respond-1.0.1.min.js"
				},
				"/js/ba-debug-0.4.min.js",
				"/js/helper.js",
				{
					load: "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js",
					complete: function() {
						if (!window.jQuery) Modernizr.load("/js/jquery-1.7.1.min.js");
					}
				},
				{
					complete: function() {
						$(document).ready(function() {
							if (Modernizr.touch) {
								// iPhone Scale Bug Fix, read this when using http://www.blog.highub.com/mobile-2/a-fix-for-iphone-viewport-scale-bug/
								MBP.scaleFix();
								// hide the URL bar at the top of mobile Safari on your iOS
								MBP.hideUrlBar();
								debug.debug("touch");
								// bind to touchstart, touchmove, etc and watch `event.streamId`
							} else {
								debug.debug("non-touch");
								$("body").css("background-attachment", "fixed");
							}

							$(window).resize(function() {
								var avatarSize = 80;
								var postAvatarSize = 30;
								if (Modernizr.mq("only screen and (min-width: 768px)")) {
									debug.debug("desktop");
									avatarSize = 120;
									postAvatarSize = 60;
								} else if (Modernizr.mq("only screen and (min-width: 480px)")) {
									debug.debug("tablet");
									avatarSize = 95;
									postAvatarSize = 40;
								} else {
									debug.debug("mobile");
								}
								// responsive avatar size
								$(".person > .person > div.avatar > img.avatar").attr("height", avatarSize).attr("width", avatarSize).attr("src", "http://www.gravatar.com/avatar/{{ author.gravatar }}?s=" + avatarSize);
								$("article > header > .person > div.avatar > img.avatar").attr("height", postAvatarSize).attr("width", postAvatarSize).attr("src", "http://www.gravatar.com/avatar/{{ author.gravatar }}?s=" + postAvatarSize);

								$("body").show();
							}).resize();
						});
					}
				}
			]);
		</script>
	</body>
</html>
