<!DOCTYPE html>
<!--[if lt IE 7]>	<html class="no-js ie6 oldie" lang="en" xml:lang="en" version="HTML+RDFa 1.1" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7]>		<html class="no-js ie7 oldie" lang="en" xml:lang="en" version="HTML+RDFa 1.1" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8]>		<html class="no-js ie8 oldie" lang="en" xml:lang="en" version="HTML+RDFa 1.1" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="en" xml:lang="en" version="HTML+RDFa 1.1" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{% if page.url != '/index.html' %}{{ page.title }} - {% endif %}Javanto</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="Javanto" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://javanto.com{{ page.url }}" />
		<meta property="og:image" content="http://javanto.com/img/logo-128.png" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="Javanto" />
		<meta property="og:description" content="{{ page.description }}" />
		<meta property="fb:admins" content="713421374" />
		<script type="text/javascript" src="/js/modernizr-2.0.6.min.js"></script>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Special+Elite|Maven+Pro|Patua+One" rel="stylesheet" type="text/css" />
		<link href="/css/syntax.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="display: none;">
		<div class="wrapper">
			<nav{% if page.url == '/index.html' %} class="index"{% endif %}>
				<ul>
					<li><a href="/" class="home{% if page.url == '/index.html' %} selected{% endif %}"></a></li>
					<li><a href="/blog" class="blog{% if page.url == '/blog/index.html' or page.id %} selected{% endif %}"></a></li>
					<li><a href="/projects" class="projects{% if page.url == '/projects/index.html' %} selected{% endif %}"></a></li>
					<li><a href="/other" class="other{% if page.url == '/other/index.html' %} selected{% endif %}"></a></li>
				</ul>
			</nav>
		</div>
{% assign author = site.authors[page.author] %}
{{ content }}

<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-16108207-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write("<script type=\"text/javascript\" src=\"/js/jquery-1.7.1.min.js\"><\/script>")</script>
		<script type="text/javascript" src="/js/ba-debug-0.4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				if (Modernizr.touch) {
					debug.debug("touch");
					// bind to touchstart, touchmove, etc and watch `event.streamId`
				} else {
					debug.debug("non-touch");
					$("body").css("background-attachment", "fixed");
				}

				$(window).resize(function() {
					var avatarSize = 80;
					var postAvatarSize = 30;
					if (Modernizr.mq("only screen and (min-width: 768px)")) {
						debug.debug("desktop");
						avatarSize = 120;
						postAvatarSize = 60;
					} else if (Modernizr.mq("only screen and (min-width: 480px)")) {
						debug.debug("tablet");
						avatarSize = 95;
						postAvatarSize = 40;
					} else {
						debug.debug("mobile");
					}
					// responsive avatar size
					$(".person > .person > div.avatar > img.avatar").attr("height", avatarSize).attr("width", avatarSize).attr("src", "http://www.gravatar.com/avatar/{{ author.gravatar }}?s=" + avatarSize);
					$("article > header > .person > div.avatar > img.avatar").attr("height", postAvatarSize).attr("width", postAvatarSize).attr("src", "http://www.gravatar.com/avatar/{{ author.gravatar }}?s=" + postAvatarSize);

					$("body").show();
				}).resize();
			});
		</script>
	</body>
</html>
