---
layout: default
---

		<div class="wrapper">
			<h1><a href="/blog/">Blog</a></h1>

			<div class="content post">
				<article class="post">
					<header>
						<h2>{{ page.title }}</h2>

						{% assign author = site.authors[page.author] %}
						<section class="person">
							<div class="avatar">
								<img data-url="http://www.gravatar.com/avatar/{{ author.gravatar }}?s={240:30,480:40,768:60}" alt="Avatar" class="avatar">
							</div>
							<section class="info">
								<a href="https://plus.google.com/108633196639533658351?rel=author" style="display: none">Google</a>
								<div class="author">{{ author.display_name }}</div>
								<div class="date">{{ page.date | date_to_long_string }}</div>
								<ul class="tags">
									{% for tag in page.tags %}
									<li class="tag">{{ tag }}</li>
									{% endfor %}
								</ul>
							</section>
						</section>
						<section class="social">
							<!-- Twitter -->
							<a href="https://twitter.com/share" class="twitter-share-button" data-via="hleinone">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							<!-- Google+ -->
							<g:plusone size="medium"></g:plusone>
							<script type="text/javascript">
							  (function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							  })();
							</script>
							<div style="height: 20px; font-size: 11px; vertical-align: top;"><a href="http://feeds.feedburner.com/javanto" rel="alternate" type="application/rss+xml" style="vertical-align: middle;"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt=""></a>&nbsp;<a href="http://feeds.feedburner.com/javanto" rel="alternate" type="application/rss+xml" style="vertical-align: middle;">Subscribe in a reader</a></div>
						</section>
					</header>

					{{ content }}
				</article>

				<section class="discussion">
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = 'javanto-blog'; // required: replace example with your forum shortname

						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
				</section>
			</div>
		</div>
